[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mesa = "==0.9.0"
arrow = "*"
binaryornot = "*"
certifi = "*"
chardet = "*"
click = "*"
cookiecutter = "*"
cycler = "*"
decorator = "*"
fonttools = "*"
idna = "*"
jinja2 = "*"
jinja2-time = "*"
kiwisolver = "*"
markupsafe = "*"
matplotlib = "*"
networkx = "*"
numpy = "*"
packaging = "*"
pandas = "*"
pillow = "*"
poyo = "*"
pyparsing = "*"
pyqt5 = "*"
pyqt5-qt5 = "*"
pyqt5-sip = "*"
python-dateutil = "*"
python-slugify = "*"
pytz = "*"
requests = "*"
six = "*"
text-unidecode = "*"
tornado = "*"
tqdm = "*"
urllib3 = "*"
scipy = "*"
sqlalchemy = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.19"